<%- include('partials/head') %> 
<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include('partials/navbar') %> 
    <main class="px-3 mt-5">
      <h1>About</h1>
      <p class="lead">Philippines</p>
      <div class="container px-5">
        <div class="row">
          <div class="col-md-12">
            <article>
               The Philippine archipelago is geographically located between latitude (approximately) 4°23′N and 21°25′N and longitude (approximately) 112°E and 127°E. It is composed of 7,107 islands, with a land area of 299,764 square kilometers. Its length measures 1,850 kilometers, starting from the point near the southern tip of Taiwan and ending close to northern Borneo. Its breadth is about 965 kilometers. The Philippine coastline adds up to 17,500 kilometers. Three prominent bodies of water surround the archipelago: the Pacific Ocean on the east, the South China Sea on the west and north, and the Celebes Sea on the south. This position accounts for much of the variations in geographic, climatic and vegetational conditions in the country.
            </article>
          </div>
        </div>
        <p class="lead">
          <a href="#" class="btn btn-sm btn-secondary fw-bold border-white mt-3">Learn more</a>
        </p>
      </div>
    </main>
  
    <footer class="mt-auto text-white-50">
      
    </footer>
  </div>
    </body>
  </html>
  