<%- include('partials/head') %> 
<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include('partials/navbar') %> 
    <main class="px-3">
      <h1>Philippines</h1>
      <p class="lead">Philippines has three major group of islands</p>
      <p class="lead">
        <img src="/img/ph2.png" alt="" height="200px">
      </p>
      <div class="container mt-5">
        <div class="row g-2">
          <div class="col-md-4">
            <div class="" style="height: 200px;">
              <h5>
                Luzon
              </h5>
              <div>
                <a href="/ph/luzon"><img src="/img/luzon.png" alt="" height="200px"></a>
               </div>
            </div>
          </div>
          <div class="col-md-4">
            <div style="height: 200px;">
              <h5>
               Visayas
              </h5>
              <div>
               <a href="/ph/visayas"><img src="/img/visayas.png" alt="" height="200px"></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div style="height: 200px;">
              <h5>
                Mindanao
              </h5>
              <div>
                <a href="/ph/mindanao"><img src="/img/mindanao.png" alt="" height="200px"></a>
               </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  
    <footer class="mt-auto text-white-50">
      
    </footer>
  </div>
    </body>
  </html>
  